{# These will be added to the CONSTRAINTS class list #}
        {% for constraint in constraints -%}
        base_classes.AllowedValuesConstraint(
            target = base_classes.Metapath(expr="{{ constraint.target }}"),
            level = "{{ constraint.level }}",
            extensible = "{{ constraint.extensible }}",
            enum = [
                {% for enum in constraint.enums -%}
                base_classes.AllowedValuesConstraint.AllowedValue(value = "{{ enum.value }}"),
                {% endfor -%}
            ]
        )
        {% endfor %}