

class {{ class_name }}(base_classes.Flag):
    """
    {{ class_name }} is a flag of type {{ datatype }}.

    {% if description -%}
    {{ description }}
    {%- endif %}
    """
    name: str = "{{ flag_name }}"
    type = {{ datatype }}

    {%- if constraints %}
    constraints = [{%- for constraint in constraints -%}
    {{ constraint }}
    {%- endfor -%}
    ]
    {%- endif %}