[submodule "metaschema"]
	path = metaschema
	url = https://github.com/usnistgov/metaschema.git
[submodule "OSCAL"]
	path = OSCAL
	url = https://github.com/usnistgov/OSCAL.git
[submodule "oscal-content"]
	path = oscal-content
	url = https://github.com/usnistgov/oscal-content.git
[submodule "metaschema-python/elementpath"]
	path = metaschema-python/metaschema_python/elementpath
	url = https://github.com/sissaschool/elementpath.git
