
{% if datatype.parent %}
class {{ datatype.name }}({{ datatype.parent }}):
{% else %}
class {{ datatype.name }}(SimpleDatatype):
{%- endif %}
    """
    This class defines the simple {{ datatype.name }} datatype from metaschema.
    {% if datatype.pattern %}
    It stores the unique pattern for the datatype, but leverages the 'validate' classmethod from the Datatype superclass.
    {% endif %}
    {% if datatype.parent -%}
    It is a subclass of {{ datatype.parent }}
    {%- endif %}
    """
    {% if datatype.pattern -%}
    PATTERN: Pattern = {{ datatype.pattern }}
    {% else %}
    pass
    {% endif %}