
class {{ datatype.name }}(ComplexDataType):
    """
    This class defines the complex {{ datatype.name }} datatype from metaschema. 
    {% if datatype.pattern -%}
    It stores the unique pattern for the datatype, but leverages the 'validate' classmethod from the Datatype superclass.
    {%- endif %}
    {%- if datatype.parent -%}
    It is a subclass of {{ datatype.parent }}
    {%- endif %}
    """
    {% if datatype.elements -%}
    ELEMENTS = [
        {%- for element in datatype.elements %}
        "{{ element }}",
        {%- endfor -%}
    ]
    
    {%- else -%}
    pass
    {%- endif %}

