{# TODO: fix this ehen constraints are defined #}
class {{ name }}(Constraint):
    """
    This class defines the {{ name }} constraint. 
    """
    type={{type}}
    target={{target}}
    level={{level}}