class {{ class_name }}(Field):
    """
    {{ class_name }} is a field of type {{ datatype }}.
    """
    name: str = {{ field_name }}
    type = {{ datatype }}

    {%- for flag in flags -%}
    {{ flag }}
    {%- endfor -%}
