

class {{ formal_name }}(base_classes.Field):
    """
    {{ formal_name }} is a field of type {{ data_type }}.

    {% if description %} {{ description }} {% endif %}

    {% for prop in props %}
    Class Property: {{ prop.name }}: {{ prop.value }}
    {% endfor %}
    """
    name: str = {{ field_name }}
    datatype = datatypes.{{ data_type }}
    collapsible: bool = "{{ collapsible }}"

    {%- for flag in inline_flags -%}
        {{ flag.code }}
    {%- endfor -%}
