{# TODO: fix this when constraints are defined #}
class {{ name }}(Constraint):
    """
    This class defines the {{ name }} constraint. 
    """
    datatype = datatypes.{{type}}
    target = {{target}}
    level = {{level}}