from __future__ import annotations

from . import base_classes

{% if imports -%}
{%- for import in imports %}
from {{ import.module }} import {{ import.classes|join(', ') }}
{% endfor -%}
{%- endif -%}

{%- for class in classes -%}
{{ class }}
{%- endfor -%}
